body {
	background: url(../images/fish-background-mobile.svg) no-repeat center top scroll;

}

/* APPLY BG IMAGE FOR WIDE SCREENS HERE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	body {
		background: url(../images/fish-background-large.svg) no-repeat center top fixed;
		background-size: cover;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	body {
		background: url(../images/fish-background-large.svg) no-repeat center top scroll;
		background-size: cover;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background: url(../images/fish-background-large.svg) no-repeat center top scroll;
		background-size: cover;
	}
}



