body {
	background: url(../images/fish-background-mobile.svg) no-repeat center top scroll;
	background-size: cover;
}
header {
	background: url(../images/sky.svg) no-repeat center top scroll;
	background-size: cover;
}

/* APPLY BG IMAGE FOR WIDE SCREENS HERE */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	body {
		background: url(../images/snorkeler-background.svg) no-repeat center top fixed;
		background-size: cover;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	body {
		background: url(../images/fish-background-large.svg) no-repeat center top scroll;
		background-size: cover;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		background: url(../images/fish-background-large.svg) no-repeat center top scroll;
		background-size: cover;
	}
}
/*for email contact form*/
.m-y-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}