# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://aceking.io/$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^aceking.io$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.aceking.io$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]

